__pycache__
.pyc
.vscode
node_modules
logs
web
Build
dist
* copy.*
.*
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.dockerignore
config.yaml
config2.yaml
RecStatus/data/config.json
@eaDir/
